* {
  position: relative;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: hsl(0,0%,30%);
  font-family: Nunito, Verdunda, Helvetica, 'Times New Roman', Roboto, sans-serif;
  text-align:center;
}

a, a:visited {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  transition: all 100ms ease-in;
}

a:hover {
  -webkit-filter: brightness(1.6);
  -moz-filter: brightness(1.6);
  filter: brightness(1.6);
}
